.ipynb_checkpoints
.vscode
.student_bashrc
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Lesson_6_Utilizing_Scan_Matching/Exercise-Mapping/libcarla-install/
/home/sc95407/Udacity/nd0013_cd2693_Exercise_Starter_Code/Lesson_7_Project_Scan_Matching_Localization/c3-project/libcarla-install/